n8n workflows/google_drive_and_mail.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2400,
        -16
      ],
      "id": "2c9c9299-53f0-462f-bab7-0be242702095",
      "name": "When chat message received",
      "webhookId": "6368b33f-87a1-4a01-8c7e-574ca3bc5b5d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "You are a meticulous AI assistant. Your task is to answer the user's question based *only* on the provided context documents. You must follow these rules precisely:\n\n1.  **Analyze the Context:** The context contains documents with both `context` and `metadata`. The `metadata` includes `file_name` and `file_link`.\n\n2.  **Generate the Answer:** Construct a comprehensive answer to the user's question using only the information from the provided context.\n\n3.  **Add Inline Citations:** For every sentence or piece of information you write, you MUST append a citation marker, like `[1]`, `[2]`, etc., that corresponds to the source document you used. If a single sentence uses information from multiple sources, you can include multiple markers, like `[1][2]`.\n\n4.  **Create a Sources List:** After you have finished the answer, add a section titled \"Sources\".\n\n5.  **Format the Sources List:** Under the \"Sources\" heading, create a numbered list that matches your inline citation markers. For each number, provide the source's `file_name` and `file_link` formatted as a clickable markdown link.\n\nExample Response Format:\n---\nThe company's revenue increased by 15% in the last quarter [1]. The marketing department launched three new campaigns to support this growth [2].\n\n**Sources**\n1.  [Q4 Financial Report.pdf](https://link-to-your-file/report.pdf)\n2.  [Marketing Strategy Q4.docx](https://link-to-your-file/strategy.docx)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1392,
        -224
      ],
      "id": "0bb22e53-1b74-41c9-bd94-50147c13e154",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1104,
        208
      ],
      "id": "39390e5f-a6a4-475a-85d9-44c35b1e26e9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8Yglc9iMrLFdHpns",
          "name": "gemini chat agent"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -896,
        192
      ],
      "id": "745a4914-0774-4719-8232-8a8934bfb13c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "3mejouK4xTVwxpYj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=This tool retrieves relevant documents from the vector database. \nEach result contains:\n- content: the text chunk from the document\n- metadata: JSON object with {file_name, file_link}\n\nWhen you use this tool:\n1. Always read both content and metadata.\n2. Use content to answer the question.\n3. Use metadata to generate inline citations. Cite with [n] and add a Sources list at the end, showing file_name and file_link.\n4. If multiple chunks come from the same file, reuse the same citation number.\n",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -704,
        192
      ],
      "id": "71193476-ab76-49fc-83b4-9526233bfbe3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "S0deBR8wvHc3wHLK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        448
      ],
      "id": "1c79c771-0e51-408c-8e91-686d4de5f4ec",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "8Yglc9iMrLFdHpns",
          "name": "gemini chat agent"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GzrLwH2GycwtXdJT58bM-oU62BGzBCni",
          "mode": "list",
          "cachedResultName": "testingn8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GzrLwH2GycwtXdJT58bM-oU62BGzBCni"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        672
      ],
      "id": "a8456fb4-a480-4adf-8ed3-86e810268ca3",
      "name": "File updated",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GzrLwH2GycwtXdJT58bM-oU62BGzBCni",
          "mode": "list",
          "cachedResultName": "testingn8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GzrLwH2GycwtXdJT58bM-oU62BGzBCni"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        976
      ],
      "id": "f53a305e-9fc4-40d6-bb66-2eb08b8a387d",
      "name": "File created",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2291bfc4-1152-473b-bba0-24b9c055429e",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        816
      ],
      "id": "121abbd0-39be-48de-8d1d-e45002b9dd63",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -272,
        816
      ],
      "id": "a210def0-5c82-417a-9655-db11429f0ee1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id}}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -496,
        816
      ],
      "id": "aac5d9ca-a2e8-43db-99d6-4ac2000bb960",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -48,
        816
      ],
      "id": "692494fb-38e4-45cc-a683-eff275f7b39b",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "S0deBR8wvHc3wHLK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        1040
      ],
      "id": "d049a281-a06b-49e5-9064-b1ae92cb94ea",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "8Yglc9iMrLFdHpns",
          "name": "gemini chat agent"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{$('Edit Fields').item.json.file_id  }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        96,
        1040
      ],
      "id": "9383e982-17fe-47d1-90e5-d65043eec996",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -944,
        816
      ],
      "id": "68cac5c8-1533-40ab-a74b-7c1b707b9d3e",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "S0deBR8wvHc3wHLK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GzrLwH2GycwtXdJT58bM-oU62BGzBCni",
          "mode": "list",
          "cachedResultName": "testingn8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GzrLwH2GycwtXdJT58bM-oU62BGzBCni"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2368,
        2016
      ],
      "id": "3a69ec1d-c148-4464-b0da-78184f07fc26",
      "name": "File created1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2291bfc4-1152-473b-bba0-24b9c055429e",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b148b7f9-146a-4f18-ba07-1d94e2c46af2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2048,
        2256
      ],
      "id": "a9bcb6f3-51d6-46b4-aa84-411cdd64bc5d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields1').item.json.file_id}}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -976,
        2064
      ],
      "id": "124c0668-2ed3-48e6-a3cb-8495fc729e38",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -176,
        2176
      ],
      "id": "3d40e767-93f7-465c-bea8-4a4e19e2491d",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "S0deBR8wvHc3wHLK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        2432
      ],
      "id": "dd60ef3d-c9f8-498b-942e-b3d0e1368840",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "8Yglc9iMrLFdHpns",
          "name": "gemini chat agent"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields1').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        2432
      ],
      "id": "6fc61554-f468-4e62-8201-30ce78264335",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1824,
        2256
      ],
      "id": "d091faf3-7489-4bca-a898-0a2528daa31d",
      "name": "Delete a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "S0deBR8wvHc3wHLK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GzrLwH2GycwtXdJT58bM-oU62BGzBCni",
          "mode": "list",
          "cachedResultName": "testingn8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GzrLwH2GycwtXdJT58bM-oU62BGzBCni"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2336,
        2272
      ],
      "id": "75ea5c13-a891-4dd5-b953-188299d2fe6c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -720,
        816
      ],
      "id": "b4ec06fd-ef88-4631-b8a6-36994dc7738a",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1600,
        2256
      ],
      "id": "12b1318e-7037-469e-aaf7-67c89840871f",
      "name": "Limit1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cc7d4f1f-b165-4ac6-a900-8feafa238483"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spreadsheet route"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75d245cd-9682-4027-b0e1-618e426e286c",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document route"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5468554-476e-43d5-b387-992e32306cc7",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf route"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1360,
        2160
      ],
      "id": "f5403db6-4721-4f00-84b6-afc79d7cd66a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -576,
        2080
      ],
      "id": "59a3a3a5-5a7d-4d50-b94e-b6484385426e",
      "name": "Extract from File2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields1').item.json.file_id}}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -960,
        2352
      ],
      "id": "6a5357fc-6378-4476-8cf8-a83b19d363b0",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -544,
        2352
      ],
      "id": "58db6793-a24e-4b80-bf5e-8708906dc873",
      "name": "Extract from File3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields1').item.json.file_id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -928,
        2608
      ],
      "id": "f24b2d6d-0a27-4305-a505-e341281c5561",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -544,
        2592
      ],
      "id": "6fe6bb47-87e4-4b6c-83ff-edec0c2f7252",
      "name": "Extract from File4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1GzrLwH2GycwtXdJT58bM-oU62BGzBCni",
            "mode": "list",
            "cachedResultName": "testingn8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1GzrLwH2GycwtXdJT58bM-oU62BGzBCni"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "id",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2576,
        3520
      ],
      "id": "0b6e49e8-b09c-491b-a22c-cb769d0e4e3d",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2960,
        3824
      ],
      "id": "668af8f5-3df0-4b78-b422-413bd279c3aa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2291bfc4-1152-473b-bba0-24b9c055429e",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b148b7f9-146a-4f18-ba07-1d94e2c46af2",
              "name": "mime",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "4ecb4700-da05-427f-97fc-f169cb4fc3c8",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9d87135e-bf61-4ea5-8fa1-bce42994c6a1",
              "name": "file_link",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        3376
      ],
      "id": "e92371cb-7bf1-4ff7-92cb-5aeca3496b15",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2096,
        3120
      ],
      "id": "ef153f1f-d36c-4196-bd56-2ee041d08dd7",
      "name": "Delete a row2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "S0deBR8wvHc3wHLK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1840,
        3088
      ],
      "id": "4ba079e6-0624-4955-a3e5-eb38f8c26933",
      "name": "Limit2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mime }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cc7d4f1f-b165-4ac6-a900-8feafa238483"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spreadsheet route"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75d245cd-9682-4027-b0e1-618e426e286c",
                    "leftValue": "={{ $json.mime }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document route"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5468554-476e-43d5-b387-992e32306cc7",
                    "leftValue": "={{ $json.mime }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf route"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1616,
        3392
      ],
      "id": "890a798d-65cc-4e92-8666-0f16599e1ef8",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -912,
        3072
      ],
      "id": "63c7d068-906f-41ab-bb8a-a74000570ba3",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        80,
        3264
      ],
      "id": "7368a5c0-d9d5-4cee-8990-de0deb970fee",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "S0deBR8wvHc3wHLK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        3616
      ],
      "id": "def79f7a-aca0-4d32-9574-31d992b94d30",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "8Yglc9iMrLFdHpns",
          "name": "gemini chat agent"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Switch1').item.json.file_id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Edit Fields2').item.json.file_name }}"
              },
              {
                "name": "file_link",
                "value": "={{ $('Edit Fields2').item.json.file_link }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        3488
      ],
      "id": "f4bac377-91eb-4e6a-967e-6f4da2d55775",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -512,
        3088
      ],
      "id": "417c39e4-3127-4bbe-8f48-40c081f328a0",
      "name": "Extract from File5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -928,
        3360
      ],
      "id": "4115e8d0-0e24-4efd-bbfe-f2d503cc3a6d",
      "name": "Download file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -480,
        3360
      ],
      "id": "950ee1ee-d400-493c-99c3-c149046e02ca",
      "name": "Extract from File6",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -960,
        3600
      ],
      "id": "f4afd0af-fdb7-48b4-afc9-f62ee522f61c",
      "name": "Download file6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g280IuMl0TmJnhWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -480,
        3600
      ],
      "id": "469e3091-c427-46b0-a0dd-b3364c13a45d",
      "name": "Extract from File7",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        48,
        1248
      ],
      "id": "8cedead0-5886-4a09-b677-664d1cecc213",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2592,
        4080
      ],
      "id": "84341dce-12f7-42a1-aad2-4efa26194f4f",
      "name": "Get many messages",
      "webhookId": "e2342f1c-e08e-44d8-be12-1746aaa5fdb2",
      "credentials": {
        "gmailOAuth2": {
          "id": "lKNuNkR0eD1NNLCB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const labels = item.json.labels?.map(l => l.id) || [];\n  let userEmail = \"\";\n  let receiveOrSend = \"\";\n\n  if (labels.includes(\"SENT\")) {\n    userEmail = item.json.From.match(/<(.*)>/)?.[1] || item.json.From;\n    receiveOrSend = \"sent\";\n  } else if (labels.includes(\"INBOX\")) {\n    userEmail = item.json.To.match(/<(.*)>/)?.[1] || item.json.To;\n    receiveOrSend = \"received\";\n  }\n\n  return {\n    json: {\n      content: item.json.snippet,\n      to: item.json.To,\n      from: item.json.From,\n      receiveOrSend,\n      link: `https://mail.google.com/mail/u/${userEmail}/#inbox/${item.json.id}`\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        4096
      ],
      "id": "8286f8d2-eadd-41eb-9591-127bc0e84950",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "emails",
          "mode": "list",
          "cachedResultName": "emails"
        },
        "options": {
          "queryName": "match_emails"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2000,
        4096
      ],
      "id": "0a1f0130-03f2-4a82-8180-ec8718c526f9",
      "name": "Supabase Vector Store4",
      "credentials": {
        "supabaseApi": {
          "id": "S0deBR8wvHc3wHLK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2064,
        4304
      ],
      "id": "84f6a000-1c77-4a47-ae71-d245037d42cb",
      "name": "Embeddings Google Gemini4",
      "credentials": {
        "googlePalmApi": {
          "id": "8Yglc9iMrLFdHpns",
          "name": "gemini chat agent"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "to",
                "value": "={{ $json.to }}"
              },
              {
                "name": "from",
                "value": "={{ $json.from }}"
              },
              {
                "name": "receiveOrSend",
                "value": "={{ $json.receiveOrSend }}"
              },
              {
                "name": "mail_link",
                "value": "={{ $json.link }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1872,
        4304
      ],
      "id": "351c32b3-7a16-441c-abcc-3883535acf24",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}OR{{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a meticulous AI assistant. Your task is to answer the user's question based *only* on the provided context emails. You must follow these rules precisely:\n\n1. **Analyze the Context:** The context contains email `content` and `metadata`. The metadata includes fields such as `from`, `to`, `status` (received or sent), and `link`.\n\n2. **Generate the Answer:** Construct a comprehensive answer to the user's question using only the information from the provided email context.\n\n3. **Include Email Details:** When presenting information, always specify:\n   - Who sent the email (`from`)\n   - Who received the email (`to`)\n   - Whether it was received or sent (`status`)\n   - A clickable link to the email (`link`)\n\n4. **Clickable Formatting Rule:** Always format the email addresses (`from` and `to`) and the email `link` as **clickable markdown links**:\n   - Example: `[sender@example.com](mailto:sender@example.com)`\n   - Example: `[recipient@example.com](mailto:recipient@example.com)`\n   - Example: `[View Email](https://mail-link.com)`\n\n5. **Add Inline Citations:** For every sentence or piece of information you write, you MUST append a citation marker, like `[1]`, `[2]`, etc., that corresponds to the source email you used.\n\n6. **Create a Sources List:** After you have finished the answer, add a section titled \"Sources\".\n\n7. **Format the Sources List:** Under the \"Sources\" heading, create a numbered list that matches your inline citation markers. For each number, provide:\n   - Sender (as a clickable email link)\n   - Recipient (as a clickable email link)\n   - Whether it was received or sent (`status`)\n   - The clickable link to the email\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1824,
        48
      ],
      "id": "a001d853-19c1-47bd-84e1-e0356e798979",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2160,
        288
      ],
      "id": "38b1630d-1fd8-4a4f-a298-d6a1244122bb",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "8Yglc9iMrLFdHpns",
          "name": "gemini chat agent"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}OR{{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1904,
        288
      ],
      "id": "4a2401c5-51bc-46df-b801-a2bc79946802",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "3mejouK4xTVwxpYj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=You are retrieving emails from the vector store. Each email contains:\n- content: the main text of the email\n- metadata: { \"from\": \"...\", \"to\": \"...\", \"status\": \"received/sent\", \"link\": \"https://...\" }\n\nWhen returning results, always provide:\n- The email content\n- Who sent it (formatted as a clickable email link: [from@example.com](mailto:from@example.com))\n- Who received it (formatted as a clickable email link: [to@example.com](mailto:to@example.com))\n- Whether it was received or sent (`status`)\n- The email link (formatted as a clickable link: [View Email](https://...))\n",
        "tableName": {
          "__rl": true,
          "value": "emails",
          "mode": "list",
          "cachedResultName": "emails"
        },
        "options": {
          "queryName": "match_emails"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1760,
        272
      ],
      "id": "6c3cffae-76e7-47b7-a4ab-fe723768205b",
      "name": "Supabase Vector Store5",
      "credentials": {
        "supabaseApi": {
          "id": "S0deBR8wvHc3wHLK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1728,
        528
      ],
      "id": "283390ac-c58f-4f93-b318-48109c295884",
      "name": "Embeddings Google Gemini5",
      "credentials": {
        "googlePalmApi": {
          "id": "8Yglc9iMrLFdHpns",
          "name": "gemini chat agent"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2848,
        4336
      ],
      "id": "e080c0f4-906b-46c6-8d6a-eb98498baf4c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "lKNuNkR0eD1NNLCB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1f5babc6-d9ce-40ef-a32a-be6a94ad73e2",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2320,
        192
      ],
      "id": "2c2bb9f1-ea8d-40a1-973e-52c9ec027d95",
      "name": "Webhook",
      "webhookId": "1f5babc6-d9ce-40ef-a32a-be6a94ad73e2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e279bcbc-cd24-4305-8a45-4241daf25a30",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1648,
        -208
      ],
      "id": "a4f5f4b5-e36f-4da6-a55a-7b19261dfebf",
      "name": "Webhook1",
      "webhookId": "e279bcbc-cd24-4305-8a45-4241daf25a30"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "File updated": {
      "main": [
        []
      ]
    },
    "File created": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File created1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Delete a row2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        []
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File5": {
      "main": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file5": {
      "main": [
        [
          {
            "node": "Extract from File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File6": {
      "main": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file6": {
      "main": [
        [
          {
            "node": "Extract from File7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File7": {
      "main": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini5": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d7a80edd92112bd81322bb39dbb98c7933fb9d1668faa4b73ff6a90e3c83a8a"
  }
}