n8n workflows/notion_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        496,
        2512
      ],
      "id": "3306f345-eff4-4fc8-be1d-ddacbcf30c7e",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "zjUDOL9IwPrRd9Di",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        2752
      ],
      "id": "fa564071-1e66-4742-83a2-6bf2ce091fd9",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "bgIrKnq5XCZIePm6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Search a page1').item.json.url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        640,
        2720
      ],
      "id": "f39ed158-431a-4398-b77c-296859b8a6e9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=You are a Q&A assistant. Follow these rules strictly:\n\n1. Only use the 'content' field from the retrieved context to answer the user’s question.\n2. You MUST also include the citation at the end, using the 'source' field inside 'metadata'.\n3. The citation format is:\n   Source: [URL] (make it clickable)\n4. If the retrieved context has no relevant information, respond only with:\n   \"I cannot find the answer in the provided context.\"\n5. Do NOT invent, guess, or use knowledge outside the retrieved context.\n6. Never omit the \"Source\" line, even if there is only one source.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        320
      ],
      "id": "70781d64-91d9-4de4-8752-e4a884c02d34",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        528
      ],
      "id": "b062b0fb-f8b1-4e4b-a46c-075d18e1bb67",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "HxF7m4rcZGR31dTg",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionID }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        592
      ],
      "id": "b4d56439-ab75-4aad-a8cf-a200e06ad42e",
      "name": "Simple Memory1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        1184
      ],
      "id": "19614546-47d2-4123-ac3e-b822f5083aba",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "text": "IIIT BHAGALPUR",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -160,
        2368
      ],
      "id": "e60fa62b-4746-4216-9a9f-ef729bade9f2",
      "name": "Search a page1",
      "credentials": {
        "notionApi": {
          "id": "pWhYeC6gRrderXrV",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/blocks/{{ $('Search a page1').item.json.id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start_cursor",
                    "value": "={{ $response.body.next_cursor }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.has_more }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        2368
      ],
      "id": "9e6a4cf8-951a-47f4-808e-3264692dc183",
      "name": "HTTP Request",
      "credentials": {
        "notionApi": {
          "id": "pWhYeC6gRrderXrV",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet fullText = \"\";\n\n// Loop through each paginated item from the HTTP Request node\nfor (const item of items) {\n  // Loop through each block in the current page's results\n  for (const block of item.json.results) {\n    const blockType = block.type;\n    const richText = block[blockType]?.rich_text;\n\n    if (richText && richText[0]) {\n      fullText += richText[0].plain_text + \"\\n\\n\";\n    }\n  }\n}\n\n// Return the single, combined text from all pages\nreturn [{ json: { pageContent: fullText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        2368
      ],
      "id": "37ef6738-a4d6-4c24-a995-640e761fc113",
      "name": "Code3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        800
      ],
      "id": "59ccd360-5e43-4592-848a-098921464c42",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "bgIrKnq5XCZIePm6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "You are an expert assistant for a knowledge base. Your task is to answer questions based ONLY on the context provided by the tool.\n\nThe context you receive will be structured like this:\n[\n  {\n    \"pageContent\": \"Text from the document...\",\n    \"metadata\": { \"source\":  }\n  }\n]\n\nYour instructions are:\n1. Formulate your answer using only the text from the 'pageContent'.\n2. After your answer, on a new line, you MUST provide the URL from the 'source' key in the metadata.\n3. Format the citation exactly as: Source: [URL]",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        432,
        592
      ],
      "id": "dc2f75da-c1ee-429f-853c-5b0650e1c3a2",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "zjUDOL9IwPrRd9Di",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        816,
        1312
      ],
      "id": "12863800-26d1-479f-b3d2-0c1ebe758c1a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "zjUDOL9IwPrRd9Di",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        1552
      ],
      "id": "b6b29a93-6515-487e-becc-8a970a938591",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "bgIrKnq5XCZIePm6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Search a page').item.json.url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        960,
        1520
      ],
      "id": "f6670582-06bb-4046-8422-d96c05564a3e",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "operation": "search",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -320,
        1184
      ],
      "id": "c5f2eb26-5c61-4703-89de-4a5449fe5119",
      "name": "Search a page",
      "credentials": {
        "notionApi": {
          "id": "dQkXOPvEgsm5woVW",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/blocks/{{ $json.id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start_cursor",
                    "value": "={{ $response.body.next_cursor }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.has_more }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        1168
      ],
      "id": "9a8b0a5e-d2c9-440f-b8a8-bd317e4dbc77",
      "name": "HTTP Request2",
      "credentials": {
        "notionApi": {
          "id": "dQkXOPvEgsm5woVW",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This is a final, robust parser for various Notion block types.\nconst contentItems = $input.all(); // All paginated results for the current page\nlet fullText = \"\";\n\n// Helper function to safely extract text from any rich_text array\nconst getTextFromRichText = (richText) => {\n  if (!richText || !Array.isArray(richText) || richText.length === 0) {\n    return '';\n  }\n  return richText.map(t => t.plain_text).join('');\n};\n\nfor (const item of contentItems) {\n  if (item.json.results) {\n    for (const block of item.json.results) {\n      let text = '';\n      // Explicitly handle each block type based on the Notion API structure\n      switch (block.type) {\n        case 'paragraph':\n          text = getTextFromRichText(block.paragraph.rich_text);\n          break;\n        case 'heading_1':\n          text = getTextFromRichText(block.heading_1.rich_text);\n          break;\n        case 'heading_2':\n          text = getTextFromRichText(block.heading_2.rich_text);\n          break;\n        case 'heading_3':\n          text = getTextFromRichText(block.heading_3.rich_text);\n          break;\n        case 'bulleted_list_item':\n          text = - ${getTextFromRichText(block.bulleted_list_item.rich_text)};\n          break;\n        case 'numbered_list_item':\n          text = 1. ${getTextFromRichText(block.numbered_list_item.rich_text)};\n          break;\n        case 'quote':\n          text = getTextFromRichText(block.quote.rich_text);\n          break;\n        case 'to_do':\n          const checked = block.to_do.checked ? '[x]' : '[ ]';\n          text = ${checked} ${getTextFromRichText(block.to_do.rich_text)};\n          break;\n      }\n\n      if (text) {\n        // Use single newlines for list items, double for others\n        fullText += text + (block.type.includes('list_item') ? '\\n' : '\\n\\n');\n      }\n    }\n  }\n}\n\n// Return one item with only the pageContent\nreturn [{\n  json: {\n    pageContent: fullText.trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1136
      ],
      "id": "30e84fe6-0def-4f77-9406-a3e4ca23991d",
      "name": "Code",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        112,
        1216
      ],
      "id": "2a24b555-5e1a-4463-b752-c7c877b93e11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        1216
      ],
      "id": "e71da001-281d-4cf3-840e-f28af61c5424",
      "name": "Split In Batches"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "921725bc-ab2a-48b4-963e-461d980fd45a",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        320
      ],
      "id": "f095f330-bc22-4df9-a0e1-bf6480c289d2",
      "name": "Webhook",
      "webhookId": "921725bc-ab2a-48b4-963e-461d980fd45a"
    }
  ],
  "connections": {
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a page1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store3": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Search a page": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c36e44487cad1fbe66bdd8c27e62c358b6fa90ead81fe90ab96e9e319377148"
  }
}